body {
    background-color: gray;
}

.page {
    background-color: white;
    box-shadow: 2px 2px 10px 1px black;
    width: 561px;
    height: 793px;
    position: relative;
    margin: 25px auto;
    text-align: justify;
    direction: rtl;
    padding: 20px;
    box-sizing: border-box;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
    align-items: start; */
}

.page::before {
    color: lightgray;
    content: attr(page);
    position: absolute;
    font-weight: bold;
    font-size: 7em;
    right: 591px;
}

.header {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 15px;
    font-weight: bold;
}

.mainText {
    font-size: 1.2em;
    float: right;
    width: 65%;
    padding-left: 10px;
    padding-bottom: 10px;
    /* grid-column: 1; */
}

.mainText:empty {
    display: none;
}

.mainText.lessCommentary {
    float: initial;
    width: initial;
    padding: initial;   
}

.commentary.lessCommentary {
    float: left;
    width: 35%;
    padding-right: 10px;
    padding-bottom: 10px;
}

.commentary {
    font-size: 0.9em;
    /* grid-column: 2; */
}

.commentary:empty {
    display: none;
}

.commentary > div {
    display: inline;
}

.commentAnchor {
    font-weight: bold;
}

.warning {
    color: lightgray;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 30%;
    right: 591px;
    direction: ltr;
}

.endOfChapter {
    text-align: center;
    display: block;
}

.continues {
    position: relative;
}

.continues::after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 4px;
    margin-top: 0.5em;
    padding-right: 4px;
    border-left: 4px solid gray;
}

@media print {
    .page {
        box-shadow: none;
    }
}